<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="../js/profile.js"></script>
</head>
<body>
    <img src="this is the image source for a profile." id="profile_image"/>
    <input type="file" id="image_input" /> <button type="button" onclick="sendImage()">Update User Image</button>
    User Bio:
    <p id="user_bio"></p>
    Edit Bio: <br />
    <textarea rows="15" cols="50" id="update_bio"/></textarea> <br />
    <button type="button" onclick="sendBio()"">Submit Bio</button>
</body>
</html>
